.header {
  background-color: dodgerblue;
  padding: 2rem 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 3rem;
    color: #fff;
  }

  ul {
    display: flex;
    font-size: 1.8rem;
    list-style: none;
    li a {
      color: #fff;
    }
  }
}
